/* Change the colors in this stylesheet to customize the game. */ 

/* Player Styles */

.player-color {
  background-color: #2a79d0;
}

.player-area {
  background-color: #0d3158;
  background-image: url(images/chip.svg);
}

.player-card .power {
  background-image: url(images/shield.svg);
}

/* Hacker Styles */

.hacker-color {
  background-color: #ce3d20;
}

.hacker-area {
  background-color: #3c1912;
  background-image: url(images/chip.svg);
}

.hacker-card .power {
  background-image: url(images/skull.svg);
}

/*==============our cards============*/

.imageCont{
	
	width: 100%;
	
	background-color: white;
	height: 40%;
	background-size: cover;
	border-radius: 5px;
	
}

.hacker-card .imageCont{
	background-image: url(images/hacker.png);
}

.player1{
	background-image: url(images/player1.jpg);
}
.player2{
	background-image: url(images/player2.png);
}
.player3{
	background-image: url(images/player3.png);
}
.player4{
	background-image: url(images/player4.jpeg);
}
.player5{
	background-image: url(images/player5.png);
}

.text{
	
	margin-top: 10px;
	font-size: 0.7em;
	width: 95%;
	
	background-color: white;
	padding: 5px;
	border-radius: 5px;


}

.card{
	width: 300px;
	height: 250px;
}

.hacker-card{
	width: 230px;
}

.flavor-text{
	margin-top: 10px;
	font-size: 0.7em;
	font-weight: normal;
	width: 100%;
	
}
